#loginParent, #registerParent {
    display: block;
    text-align: center;
}

#loginForm, #registerForm {
    width: 20%;
    display: inline-block;
    margin: 15% auto;
    text-align: left;
}

html, body {
    overflow-x: hidden;
}