#loginParent, #parent {
    display: block;
    text-align: center;
}

#loginForm {
    width: 20%;
    display: inline-block;
    margin: 15% auto;
    text-align: left;
}

/*#flashMessages {*/
/*    width: 30%;*/
/*    text-align: center;*/
/*}*/

html, body {
    overflow-x: hidden;
}