<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | DSS Auth Site</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
<div class="row h-100 my-auto" id="parent">
    <form action="/twostep/verify" method="POST" role="2fa-form" id="form">
        {# Div to display any flash messages #}
        <div class="container" id="flashMessages">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <i class="fa fa-lg fa-exclamation-circle"></i>
                    {{ message | safe }}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="username"> 2FA Code: </label>
            <input type="text" class="form-control" id="totpCode" name="totpCode" placeholder="6 digit code here..."/>
        </div>
        <button type="submit" class="btn btn-primary border-dark btn-block my-2">Login</button>
    </form>
</div>
</body>

</html>