<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | DSS Auth Site</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
{# Div to display any flash messages #}
<div class="container" id="flashMessages">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <i class="fa fa-lg fa-exclamation-circle"></i>
            {{ message | safe }}
        </div>
    {% endfor %}
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/logout" class="btn btn-primary">Logout!</a>
  </div>
</div>


</body>
</html>