<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | DSS Auth Site</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
{# Div to display any flash messages #}
<div class="container" id="flashMessages">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <i class="fa fa-lg fa-exclamation-circle"></i>
            {{ message | safe }}
        </div>
    {% endfor %}
</div>
<div class="row h-100 my-auto offset-md-3" id="cardParent">
    <div class="card">
        <img id="memeImg" class="card-img-top" src="{{ meme }}" height="700">
        <div class="card-body">
            <h5 class="card-title">Welcome to my DSS Authentication Website</h5>
            <p class="card-text">Congratulations, you are logged in as '{{ user }}'! Here's a meme for your troubles!</p>
            <form action="/logout" method="POST" id="logoutForm">
                <button type="submit" class="btn btn-danger border-dark btn-block my-2"">Logout!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>